
@media only screen and (max-width:500px){
    .ocntainer{
        width:100%;;
        margin:0 auto;
    }
    .blogContent{
        padding:0;
    }
    .SingleBlog2{
        width:90% !important;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0 auto !important;
     }
 


}

@media only screen and (max-width:767px){
    .container{
        width:100%;
        margin:0 auto;
    }

    .bannerSection{
        width:100%;
        display:flex;
        flex-direction:column;
        height:135vh;
        text-align:center !important;
        margin-bottom:40px;
        padding-top:10px;
        
    }
    .bannerContent{
        width:70%;
       padding-top:40px;
       text-align:center;
       margin:0 auto;
       padding-right:50px;
    }
    .bannerContent h1{
       font-size:30px;
        width:90%;
        margin:0 auto;
        line-height:1.5;
        padding-bottom:15px;


      
    }
    .bannerContent p{
       width:80%;
       padding:0;
       line-height:2;
       margin:0 auto;
       font-size:14px;
        padding-bottom:15px;
    }
    .bannerPlayer{
        width:100%;
        text-align:center;
        margin-top:30px;
    }
    .bannerPlayer img{
        max-width:100%;
    }
    .blogLeft{
        height:auto;
        width:100%;
       background:#fff;
       display:flex;
       justify-content:center;
       align-items:center;
    }
    .linkBtn {
        display:flex;
        flex-direction:column;
        align-items:center;
       
     }
     .MainBlogSection{
        display:flex;
        flex-direction:column;
        margin-bottom:30px;
        
     }
     .linkBtn a{
        width:200px;
        height:35px;
        margin-left:0px;
        margin-right:0px; 
        border:1px solid #ddd;
      }
   
      .blogRight{
       display:grid;
       grid-template-columns:100%;
       grid-gap:10px;
        justify-self:center;
        justify-content:center;
    
       
    }
      .singleBlog{
        width:100%;
        margin:0 auto;
        border:1px solid #ddd;
        text-align:left;
        padding-bottom:20px;
       
    }

    
    .singleBlog img{
        max-width:100%;
    
    }
    .singleBlog p{
        width:70%;
        padding-bottom:15px;
        padding-top:10px;
    }

    .blogContent{
        text-align:left;
        padding-left:35px;
        padding-right:15px;
    }
    .blogContent a{
      margin-left:2px;
    }
      .footerMenu ul{
        flex-direction:column;   
    }
    .footerMenu ul li{
        padding-bottom:30px;
    }
    .footerMenu ul li a{
       color:#fff;
    }
  
    .footerSection{
        width:100%;
        margin:0 auto;
        padding:40px 0;
    }

    .footerIcon a{
   font-size:12px;
    }
    .footerIcon{
        margin-top:0; 
     }
     .SingleBlog2{
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:center;
        width:60%;
       margin:0 auto;
       padding:50px 0;
    }

}

@media only screen and (min-width:768px) and (max-width:992px){
    .container{
      width:100%;  
    }
    .bannerContent h1{
        font-size:40px;
        width:70%;
       
    }
    .bannerContent p{
        width:80%;
        font-size:15px;
    }
    .MainBlogSection{
       display:block;
     }
    
     .blogLeft{
        background:#fff;
        height:100px;
        width:100%;
     }
    .linkBtn {
     display:flex;
     justify-content: center;
     align-items:center;
     
  }
  .linkBtn a{
    width:210px;
    height:35px;
    margin-left:15px;
    margin-right:15px;
    text-align:center;
    border:1px solid black;
    padding-top:15px;
    
  }
  .linkBtn a:last-child{
    margin-right:0px;
    margin-left:0px;
  }
  .blogRight{
    grid-template-columns:350px 350px;
    grid-gap:10px;
    justify-self:center;
    justify-content:center;


}
.singleBlog{
    width:auto; 
}
.singleBlog img{
  max-width:100%;
    
   
}
.viewBtn{
    display:block;
    text-align:center;
    background:#0072B2;
    color:#fff;
    width:150px;
    margin:0 auto;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
.viewBtn a{
    display:block;
    color:#fff;
    margin-top:50px;
    text-decoration:none;
    text-transform:capitalize;
    padding:12px 25px;
    font-size:18px;
    font-weight:500;
   
}
.hide{
    display:none;
}
.blogContent{
    text-align:left;
}
.blogContent p{
    width:200px;
}
/*
======================
Website two media query 
=======================
*/
.MainBlogSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
.SingleBlog2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


}
